<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/message.css') }}">
      <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous"></script>
      <link rel="">
      <title>学ぶ対話BOT</title>
    </head>
    <body>
      <div class="wrapper">
        <header>
          <h1 class="bot-name">自己学習対話botくん</h1>
        </header>
        <main class="main-contents">
        </main>
        <div class="form-container">
            <input type="text" placeholder="メッセージを入力してください" id="js-message">
            <input type="submit" value="送信" id="js-btn">
        </div>
      </div>

      <script src="/static/js/main.js"></script>
    </body>
</html>